

@import "nav-bar.css";


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
    color: #333;
}


.blog-post {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}



h1 {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.author-avatar {
    width: 4%
}



.main-grid {
    display: grid;
    width: 80vw;
    height: 1fr;
    margin: auto;

    grid-template-columns: 80vw;
    grid-template-rows: 70px 200px 1fr 1000px 300px 60px;

    grid-template-areas:
        "nav"
        "header"
        "image"
        "post"
        "author"
        "footer";

    border: 2px solid rgb(255, 255, 255);
}


.nav {
    grid-area: "nav";
}

.header {
    grid-area: "header";
}

.image {
    grid-area: "image";
}

.post {
    grid-area: "post";
}

.author {
    grid-area: "author";
}

.footer {
    grid-area: "footer";
}

.main-item {
    display: flex;
    border: 3px solid rgb(255, 255, 255);
    flex-direction: row;
}

.image {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}