

@import "nav-bar.css";


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
    color: #333;
}

.main-grid {
    display: grid;
    width: 80vw;
    height: 1fr;
    margin: auto;

    border: 2px solid rgb(255, 255, 255);
}


.blog-post {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.author-avatar {
    width: 4%
}

