

@import "nav-bar.css";

.subscribe-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
}

@media(max-width:1000px) {
    .subscribe-container {
        display: none;
    }
}

#weather-image {
    background-image: url("../assets/noaa.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

@media(max-width:1000px) {
    #weather-image {
        display: none;
    }
}


.follow-icon {
    height: 15px;
    width: auto;
}