

nav {
    background-color: #4c87af;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}
